/* Write your CSS here */
.each-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  align-items: center;
}
.suggestion {
  color: black;
  font-family: 'roboto';
  font-size: 15px;
  font-weight: 500;
}
.arrow-icon {
  width: 20px;
  height: 20px;
  background-color: transparent;
}
.button {
  width: 10%;
  height: 90%;
  background-color: transparent;
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
